@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0;
}

:root {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image:
    url(./images/tree_8px.jpg),
    linear-gradient(to top, #697135, #966F33);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav,
section,
footer {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: double 6px rgba(255, 255, 255, 0.12);
    transition: 
    background-color 0.3s,
    border 0.3s;
}

nav:hover,
section:hover,
footer:hover {
    background-color: rgba(255, 255, 255, 0.14);
    border: double 6px rgba(255, 255, 255, 0.16);
}

nav:hover {
    border-top: none;
}

footer:hover {
    border-bottom: none;
}

/*---- HEADER ----*/

nav {
    height: 60px;
    width: 95%;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*---- BOOKSHELF ----*/

section {
    height: 480px;
    width: 60%;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

/*- Locked -*/

.bookshelf {
    position: relative;
    width: min(50%, 430px);
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    transition: scale 0.5s;
}

.clicked {
    scale: 7;
}

.bookshelf>img {
    width: 100%;
}

.key-hole {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width 0.3s;
}

.key-hole:hover {
    width: 38%;
}

.key-hole:active {
    width: 30%;
}

.key-hole>img {
    width: 100%;
}

.library {
    display: none;
    transition: scale 0.3s;
}

/*- Unlocked -*/

.unlocked {
    font-family: Andika;
    max-height: 100%;
    padding: 32px;
    display: grid;
    grid-template-columns: 
    repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
    overflow-y: auto;
}

.unlocked > div {
    cursor: pointer;
    position: relative;
}

.unlocked > div > img {
    width: 75%;
    filter: contrast(90%);
    transition: 
    filter  .3s;
}

.unlocked > div:hover > img {
    filter: contrast(160%);
}

.unlocked p {
    font-size: 22px;
    font-weight: 700;
    width: fit-content;
    margin: 16px auto 0;
    background-color: rgba(0, 0, 0, 0.22);
    box-shadow:
    0 0 0 6px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    color: wheat;
}

.new-book [alt="Add"] {
    filter: none;
    opacity: 0.35;
    transition: opacity .3s;
}

[alt="Add"]:hover {
    opacity: 0.6;
}

/*- Delete Button -*/

.unlocked > div > .delete {
    display: none;
    transition: scale 0.1s;
} 

.unlocked > div:hover .delete {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16%;
    background-color: red;
    border-radius: 3px;
    display: grid;
    place-items: center;
}

.unlocked > div:hover [alt*='del'] {
    width: 100%;
    filter: 
    invert(15%) sepia(22%) 
    saturate(7313%) hue-rotate(346deg) 
    brightness(83%) contrast(124%);
}

.delete:hover {
    scale: 1.1;
}

.delete:active {
    scale: 1;
}


.book-description {
    display: none;
}

/*- Book Description -*/

.open {
    display: block;
    padding: 32px;
    padding-left: 38px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    max-height: 100%;
    overflow: auto;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    margin-bottom: 8px;
}

h1:nth-child(5) {
    margin-top: 25px;
}

h1 span {
    font-size: 24px;
    font-weight: 400;
}

.open p {
    font-size: 32px;
    font-weight: 700;
    float: right;
    text-shadow: none;
    color: rgba(255, 255, 255, 0.6);
}

button {
    position: absolute;
    top: -6px;
    left: -6px;
    padding: 0;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: double 6px rgba(255, 255, 255, 0.16);
    border-bottom-right-radius: 18px;
    overflow: hidden;
}

button div{
    width: 100%;
    height: 100%;
    padding: 6px 8px;
    transition: color .1s, background .1s;
}

button:hover div {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(0, 0, 0, 0.4);
}

/*---- FOOTER ----*/

footer {
    height: 55px;
    width: 50%;
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}